blinker==1.8.2
click==7.1.2
colorama==0.4.6
dnspython==2.6.1
email_validator==2.2.0
Flask==1.1.4
flask-mongoengine==1.0.0
Flask-PyMongo==2.3.0
Flask-WTF==1.2.1
idna==3.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
mongoengine==0.29.1
pymongo==4.9.1
python-dotenv==1.0.1
Werkzeug==1.0.1
WTForms==3.1.2
